html {
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: auto;
}

.navbox {
  width: 100%;
  max-width: 30em;
  min-width: 5em;
  display: inline-block;
  text-align: center;
  background-color: #efeee9;
}

.navbox ul {
  list-style-type: none;
  padding: 0;
  background-color: #9a816d;
}

.navbox ul li {
  border: 1px solid #795437;
}

.navbox ul li a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 2rem;
  color: #795437;
}

.navbox h2 {
  color: white;
}

.navbox ul :hover {
  background-color: #795437;
}
